@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --editor-width: 415px;
    --editor-min-height: 700px;
    --editor-padding: 24px;
    
    --text-font-size: 16px;
    --text-line-height: 24px;
    --text-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --text-char-width: 9.6px;
    
    --mentions-width: 250px;
    --mentions-max-height: 200px;
    --mentions-item-height: 40px;
    --mentions-offset: 8px;
    --mentions-z-index: 50;
  }

  @media (max-width: 470px) {
    :root {
      --editor-width: 300px;
      --mentions-width: 200px;
    }
  }
