.note-card {
  @apply p-4 shadow-md duration-200 cursor-pointer;
  width: 100%;
  min-height: 200px;
  border-radius: 16px;
}

.note-card:hover {
  @apply shadow-lg;
  transform: translateY(-2px);
}

.note-card-content {
  @apply text-gray-700 text-xl whitespace-pre-wrap;
  word-break: break-word;
}